body.dunkelmodus {
    background-color: #121212;
    color: #ffffff;
}

body {
    background-color: #ffffff;
    color: #000000;
}

button {
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    transition: opacity 0.3s ease;
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.6;
}